@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'GlacialIndifference';
    src: url('/fonts/GlacialIndifference/GlacialIndifference-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GlacialIndifference';
    src: url('/fonts/GlacialIndifference/GlacialIndifference-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

